menu "Pin Config"

config GPIO_0
  int "GPIO pin #0"
  default 25
  help
    Set the GPIO pin for Pin #0

config GPIO_1
  int "GPIO pin #1"
  default 26
  help
    Set the GPIO pin for Pin #1

config GPIO_2
  int "GPIO pin #2"
  default 27
  help
    Set the GPIO pin for Pin #2

config CLOCK_LINE
  int "SCL pin"
  default 32
  help
    Set Clock Pin
    
config DATA_LINE
  char "SDA pin"
  default 35
  help
    Set Data Line

endmenu